@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Testing styles */

/* .container {
    border: 3px solid black;

    width: 100%;
}

.row {
    border: 2px solid red;
}

.col {
    border: 2px solid blue;
}

footer {
    border: 3px solid yellow;
} */





/* ------------------------------------- Global styles ------------------------------------- */


/* Main Navigation Bar */

    .main-navbar {
        background-color: #38B000;
    }

    .content {
        margin-top: 15px;
    }

    .main-logo {
        font-size : 50px;
        margin-left: 20%;
    }

    .main-navtext {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    .nav-br {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

/* End of Navigation Bar */

    body {
        background-color: #FFE8AD;
    }

    .recipe-images {
        max-height: 250px;
        display: flex;
    }

    .recipe-images img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        object-fit: cover;
    }

    .awarege-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
    }

    .awarege-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 1000;
        font-size: 30px;
    }

    .instructions-field {
        border: 3px solid #38B000;
        border-radius: 20px;
        background-color: antiquewhite;
        padding: 5%;
    }

    ol { 
        padding-left: 15px; 
    }

    ul.cyrcle {
        padding-left: 0px;
    }

    .ingredient-list {
        border-top: 2px solid black;
        border-bottom: 5px double black;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 30px;
    }

    .directions-list {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .direction-item {
        margin-top: 15px;
    }

    .ingredient-item {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .small-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    .title-container {
        border-bottom: 5px dashed black;
        width: 95%;
    }

    .section-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 1000;
        font-size: 40px;
    }

    .line-br {
        border-bottom: 3px solid black;
        margin-bottom: 25px;
    }
/* --------------------------- End of Global styles ---------------------------------------------------- */



/* ---------------------------- Home page styles -------------------------------------------------------- */

    .carousle-container {
        border-radius: 20px;
        border: 5px solid #38B000;
        min-height: 275px;
    }

    .carousel-item {
        border-right: 1.5px solid white;
        border-left: 1.5px solid white;
        background-color: black;
    }

    .carusel-img {
        max-height: 100%;
        max-width: 100%;
    }

    .recipe-name-text {
        font-family: 'Lobster', cursive;
        color: white;
    }

    .home-modal {
        width: 75%;
        height: 75%;

        border: 5px solid black;
        border-radius: 20px;
        background-color: #FFE8AD;
    }


/* ---------------------------- End of Home page styles ------------------------------------------------ */



/* ---------------------------- Product page styles ---------------------------------------------------- */

    .product-catalog-body {
        background-color: black;
        border: 3px solid #38B000;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow-x: hidden;
    }

    .product-catalog-body::-webkit-scrollbar {
        width: 10px;
      }

    .products-collapsible-header {
        border: 3px solid #38B000;
        margin: 7px;
    }

    .product-catalog-image {
        border: 2px solid #38B000;
        border-radius: 20px;
    }

    .productas-catalog-navigation {
        border: 3px solid #38B000;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: white;
    }
 
/* ---------------------------- Product page styles ---------------------------------------------------- */



/* ---------------------------- Recipe page styles ---------------------------------------------------- */

.collapsible {
    height: 450px;
    overflow: scroll;
    
}

.collapsible-body {
    min-height: 400px;
}

/* ---------------------------- End of: Recipe page styles ---------------------------------------------------- */



/* ---------------------------- LogIn page -------------------------------------------------------------------- */

    .form-container {
        border: 5px solid #38B000;
        border-radius: 20px;
    }

    .form-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 36px;
    }

    .small-link {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: black;
    }

    .small-link:hover {
        border-bottom: 2px solid #38B000;
    }

    .forum-submit-btn {
        background-color: #38B000;

        border: 3px solid black;
        width: 75%;
        height: 45px;

        border-radius: 20px;

        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: white;
    }

    .forum-submit-btn:hover {
        border-color: #38B000;
        background-color: black;
    }

/* ---------------------------- End of: LogIn page ------------------------------------------------------------ */



/* ---------------------------- Flash message ----------------------------------------------------------------- */

    .flash-message {
        height: 100px;
        background-color: #FAA307;
        margin: 0;
    }

    .flash-message-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: white;
        margin: 0;
        padding-top: 25px;
    }

/* ---------------------------- End of: Flash message --------------------------------------------------------- */



/* ---------------------------- Profile page ------------------------------------------------------------------ */

    .profile-card {
        background-color: white;
        border: 3px solid #38B000;
    }

    .profile-pic-edit {
        background-color: #38B000;
    }

    .profile-pic-edit:hover {
        background-color: black;
    }

    .profile-image {
        max-height: 350px;
        width: 100%;
    }

    .profile-image img{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .info {
        margin-top: 15px;
    }

/* ---------------------------- End of: Profile page ------------------------------------------------------------------ */




/* User Recipes */

.user-recipe {
    height: 350px;
    overflow: scroll;
}

/* End of User Recipes */