@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Testing styles */

.container {
    border: 3px solid black;

    width: 100%;
}

.row {
    border: 2px solid red;
}

.col {
    border: 2px solid blue;
}

footer {
    border: 3px solid yellow;
}

/* Recipe page styles */

.collapsible {
    height: 450px;
    overflow: scroll;
    
}

.collapsible-body {
    max-height: 400px;
}
/* End of Recipe page styles */

/* ----------------------------------------------------------------- */
/* Global styles */
/* ----------------------------------------------------------------- */


/* Main Navigation Bar */

.main-navbar {
    background-color: #38B000;
}

.main-logo {
    font-size : 50px;
    margin-left: 20%;
}

.main-navtext {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.nav-br {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/* End of Navigation Bar */

.recipe-images {
    max-height: 250px;
    display: flex;
}

.recipe-images img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* End of Global styles */
/* ----------------------------------------------------------------- */

/* User Recipes */

.user-recipe {
    height: 350px;
    overflow: scroll;
}

/* End of User Recipes */