{% extends "base.html" %}
{% block content %}

    <div class="row add-recipe-form title-container">
        <div class="row title-container">
            <h4 class="section-title center">Add Recipe</h4>
        </div>
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" maxlength="50" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div id="ingredient-list" class="col s12 center">
                    <ul id="add_ingredients">
                        <h4 class="awarege-title add-title center">Ingredients</h4>
                    </ul>
                    <div id="add-ingredients-button" class="btn add-btn awarege-text">Add Ingredient</div>
                </div>
            </div>
            <div class="row">
                <div id="direction-list" class="col s12 center">
                    <ul id="add-directions">
                        <h4 class="awarege-title add-title center">Directions</h4>
                    </ul>
                    <div id="add-direction-button" class="btn add-btn awarege-text">Add Directions</div>
                </div>
            </div>
            <!-- Big screen radio buttons -->
            <div class="row meal-type-select center big-catalog">
                <h4 class="awarege-title add-title center">Meal Type</h4>
                <div class="col s4">
                    <p>
                        <label>
                            <input name="meal_type" type="radio" value="breakfast" required />
                            <span class="awarege-text black-text">Breakfast</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input name="meal_type" type="radio" value="lunch" />
                            <span class="awarege-text black-text">Lunch</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input name="meal_type" type="radio" value="dinner" />
                            <span class="awarege-text black-text">Dinner</span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- End of: Big screen radio buttons -->

            <!-- Small screen radio buttons -->
            <div class="row meal-type-select center small-catalog">
                <h4 class="awarege-title add-title center">Meal Type</h4>
                <ul>
                    <li class="left">
                        <input name="meal_type" type="radio" value="breakfast" required />
                        <span class="awarege-text black-text">Breakfast</span>
                    </li>
                    <li class="left">
                        <input name="meal_type" type="radio" value="lunch" />
                        <span class="awarege-text black-text">Lunch</span>
                    </li>
                    <li class="left">
                        <input name="meal_type" type="radio" value="dinner" />
                        <span class="awarege-text black-text">Dinner</span>
                    </li>
                </ul>
            </div>
            <!-- End of: Small screen radio buttons -->

            <div class="row center">
                <div id="upload_widget" class="cloudinary-button">Upload image</div>
            </div>
            <div class="row" style="display: none;">
                <input id="recipe_image" name="recipe_image" type="text">
                <label for="recipe_image"></label>
            </div>
            <div class="row center">
                <button type="submit" class="btn add-recipe-btn awarege-text">Add Recipy</button>
            </div>
        </form>
    </div>

{% endblock %}