{% extends "base.html" %}
{% block content %}

    <h4>Add Recipe</h4>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" maxlength="50" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div id="ingredient-list" class="col s12">
                    <ul id="add_ingredients">
            
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="direction-list" class="col s12">
                    <ul id="add-directions">
            
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p>
                        <label>
                            <input name="meal_type" type="radio" value="breakfast" required />
                            <span>Breakfast</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input name="meal_type" type="radio" value="lunch" />
                            <span>Lunch</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input name="meal_type" type="radio" value="dinner" />
                            <span>Dinner</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div id="upload_widget" class="cloudinary-button">Upload files</div>
            </div>
            <div class="row">
                <input id="recipe_image" name="recipe_image" type="text">
                <label for="recipe_image"></label>
            </div>
            <div class="row">
                <button type="submit" class="btn-large">Add Recipy</button>
            </div>
        </form>
    </div>

{% endblock %}