<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awseme -->
    <script src="https://kit.fontawesome.com/4c53668ab7.js" crossorigin="anonymous"></script>
    <!-- Linkt for Materialize 1.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Local styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <title>Cook Book</title>
</head>

<body>

    <!-- Navigation bar wraper to kip the bar at the top of the sreen -->
    <div class="navbar-fixed">
        <header>
            <!-- Navigation bar -->
            <nav class="nav-extended main-navbar">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo left"><i
                            class="fas fa-apple-alt main-logo logo"></i></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars logo"></i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if session.user %}
                            <li><a class="main-navtext"
                                    href="{{ url_for('profile', username=session['user']) }}">
                                    {{ session.user.capitalize() }}
                                </a>
                            </li>
                            <li class="nav-br">|</li>
                            <li>
                                <a href="{{ url_for('add_recipe') }}" class="main-navtext">
                                    Add Recipe
                                </a>
                            </li>
                            <li class="nav-br">|</li>
                        {% endif %}
                            <li><a class="main-navtext" href="{{ url_for('get_products') }}">Products</a></li>
                            <li class="nav-br">|</li>
                            <li><a class="main-navtext" href="{{ url_for('get_recipes') }}">Recipes</a></li>
                            <li class="nav-br">|</li>
                        {% if session.user %}
                            <li><a class="main-navtext" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a class="main-navtext" href="{{ url_for('login') }}">Log In</a></li>
                            <li class="nav-br">|</li>
                            <li><a class="main-navtext" href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- End of: navigation bar -->
        </header>
    </div>
    <!-- End of: Navigation bar wraper to kip the bar at the top of the sreen -->


    
            <!-- Mobile navigations -->
            <ul class="sidenav" id="mobile-demo">
                {% if session.user %}
                    <li><a class="main-navtext" href="{{ url_for('profile', username=session['user']) }}">
                            {{ session.user.capitalize() }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('add_recipe') }}" class="main-navtext">
                            Add Recipe
                        </a>
                    </li>
                {% endif %}
                    <li><a class="main-navtext" href="{{ url_for('get_products') }}">Products</a></li>
                    <li><a class="main-navtext" href="{{ url_for('get_recipes') }}">Recipes</a></li>
                {% if session.user %}
                    <li><a class="main-navtext" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="main-navtext" href="{{ url_for('login') }}">Log In</a></li>
                    <li><a class="main-navtext" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
            <!-- End of: Mobile navigations -->

    
    <!-- section to display flash messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flash-message">
                        <h5 class="flash-message-text center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- End of: section to display flash messages -->

    <!-- All content holder section -->
    <main class="container content">
        {% block content %}
        {% endblock %}
    </main>
    <!-- End of: All content holder section -->


    <footer>
        <div class="row valign-wrapper">
            <!-- Home link -->
            <div class="col s3">
                <a href="{{ url_for('home') }}" class="brand-logo left">
                    <i class="fas fa-apple-alt footer-logo logo"></i>
                </a>
            </div>
            <!-- Social media links -->
            <div class="col s9">
                <!-- Facebook link -->
               <div class="col s3 right">
                   <a href="https://www.facebook.com/" target="_blank">
                       <i class="fab fa-facebook-square footer-icons logo"></i>
                    </a>
                </div>
                <!-- Youtube link -->
               <div class="col s3 right">
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fab fa-youtube footer-icons logo right"></i>
                    </a>
               </div>
            </div>
            <!-- End of: Social media links -->
        </div>
    </footer>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Script for materialize 1.0-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom scrip links -->
    <script src="{{ url_for('static', filename='js/mat-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add_recipe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit_recipe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add_product.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit_product.js') }}"></script>
    <!-- End of: Custom scrip links -->

    <!-- Cloudinary widget link and script -->
    <script src="https://upload-widget.cloudinary.com/global/all.js"></script>
    <script src="{{ url_for('static', filename='js/upload-img.js') }}"></script>

</body>

</html>