{% extends "base.html" %}
{% block content %}

    <div class="row add-recipe-form title-container">
        <div class="row title-container">
            <h4 class="section-title center">Edit Recipe</h4>
        </div>
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe_select._id) }}">
            <!-- Big screen display -->
            <div class="row big-catalog">
                {% for recipe in recipes_list %}
                    {% if recipe.recipe_name == recipe_select.recipe_name %}
                        <div class="col s4 recipe-images">
                            <img class="edit-recipe-img" src="{{ recipe_select.recipe_image }}" alt="">
                        </div>
                        <div class="input-field col s8">
                            <input id="recipe_name" name="recipe_name" type="text" class="validate awarege-title" maxlength="50"
                            value="{{ recipe.recipe_name.capitalize()  }}" required>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End of: Big screen display -->

            <!-- Small screen display -->
            <div class="row small-catalog">
                {% for recipe in recipes_list %}
                    {% if recipe.recipe_name == recipe_select.recipe_name %}
                    <ul>
                        <li>
                            <div class="col s12 recipe-images">
                                <img class="edit-recipe-img" src="{{ recipe_select.recipe_image }}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="input-field col s12">
                                <input id="recipe_name" name="recipe_name" type="text" class="validate awarege-title" maxlength="50"
                                value="{{ recipe.recipe_name.capitalize()  }}" required>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End of: Small screen display -->
            
            <div id="ingredient-list" class="col s12 center">
                <h4 class="awarege-title add-title">Ingredients</h4>
                <ul id="edit_ingredients" class="center">
                    {% for recipe in recipes_list %}
                        {% if recipe.recipe_name == recipe_select.recipe_name %}
                        {% set count = namespace(value=0) %}
                            {% for ingredient in recipe.recipe_ingredients %}
                                <li class="edit-ing-input-field" id="edit-ingredient-list-item-{{ count.value }}" number="{{ count.value }}">
                                    <div class="row">
                                        <div class="col s9">
                                            <input name="recipe_ingredient" type="text" class="recipe_ing" value="{{- ingredient -}}"
                                                required="">
                                        </div>
                                        <div class="col s3 edit-item-remuve remuve-btn" id="edit-ingredient-list-item-remuve-{{ count.value }}"
                                            number="{{ count.value }}">
                                            <p class="remuve-btn-text center awarege-text big-catalog">Remuve</p>
                                            <p class="remuve-btn-text center awarege-text small-catalog">X</p>
                                        </div>
                                    </div>
                                </li>
                            {% set count.value = count.value + 1 %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <div id="edit-ingredients-buttno" class="btn add-btn awarege-text">Add Ingredient</div>
            </div>
            <div class="row">
                <div id="direction-list" class="col s12 center">
                    <ul id="edit-directions">
                        <h4 class="awarege-title add-title center">Directions</h4>
                        {% for recipe in recipes_list %}
                            {% if recipe.recipe_name == recipe_select.recipe_name %}
                                {% set count = namespace(value=0) %}
                                {% for direction in recipe.recipe_directions %}
                                    <li class="edit-dir-input-field" id="edit-directions-list-item-{{ count.value }}" number="{{ count.value }}">
                                        <div class="row">
                                            <div class="col s9">
                                                <textarea name="recipe_direction" type="text" class="recipe_dir"
                                                required="">
                                                {{- direction -}}
                                            </textarea>
                                            </div>
                                            <div class="col s3 remuve-btn" id="edit-direction-list-item-remuve-{{ count.value }}">
                                                <p class="remuve-btn-text center awarege-text big-catalog">Remove</p>
                                                <p class="remuve-btn-text center awarege-text small-catalog">X</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% set count.value = count.value + 1 %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="edit-direction-buttno" class="btn add-btn awarege-text">Add Direction</div>
                </div>
            </div>

            <!-- Meal type edit -->
            <div class="row meal-type-select center">
                <h4 class="awarege-title add-title center">Meal Type</h4>
                <div class="col s12 m4">
                    <p>
                        <label>
                            {% if recipe_select.meal_type == "breakfast" %}
                                <input name="meal_type" type="radio" value="breakfast" checked/>
                            {% else %}
                                <input name="meal_type" type="radio" value="breakfast"/>
                            {% endif %}
                            <span class="awarege-text black-text">Breakfast</span>
                        </label>
                    </p>
                </div>
                <div class="col s12 m4">
                    <p>
                        <label>
                            {% if recipe_select.meal_type == "lunch" %}
                                <input name="meal_type" type="radio" value="lunch" checked/>
                            {% else %}
                                <input name="meal_type" type="radio" value="lunch"/>
                            {% endif %}
                            <span class="awarege-text black-text">Lunch</span>
                        </label>
                    </p>
                </div>
                <div class="col s12 m4">
                    <p>
                        <label>
                            {% if recipe_select.meal_type == "dinner" %}
                                <input name="meal_type" type="radio" value="dinner" checked/>
                            {% else %}
                                <input name="meal_type" type="radio" value="dinner"/>
                            {% endif %}
                                <span class="awarege-text black-text">Dinner</span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- End of: Meal type edit -->


            <div class="row center">
                <div id="upload_widget" class="cloudinary-button" recipe="recipe">Change image</div>
            </div>
            <div class="row" style="display: none;">
                <input id="recipe_image" name="recipe_image" type="text">
                <label for="recipe_image"></label>
            </div>
            <div class="row center">
                <div class="col s6"><button type="submit" class="btn add-btn mobal-text">Edit Recipe</button></div>
                <div class="col s6"><a href="{{ url_for('profile', username=session['user']) }}" class="btn add-btn mobal-text">Cancel</a></div>
            </div>
        </form>
    </div>

{% endblock %}