{% extends "base.html" %}
{% block content %}

    <form class="row center" method="POST" method="{{ url_for('edit_profile', user_id=userdata._id) }}">
        <div class="col s12 m6 offset-m3">
            <div class="card profile-card">

                <!-- user information -->
                <div class="card-image profile-image-container">
                    {% if user_image == "" %}
                        <img id="user-img" class="profile-image" src="https://res.cloudinary.com/silorak/image/upload/v1636472037/coock_book-img/blank-profile-picture-973460_960_720_cqroec.webp">
                    {% else %}
                        <img class="profile-image" src="{{ user_image }}">
                    {% endif %}
                    <!-- Cloudinery winget popo up -->
                    <a class="btn-floating right-alighn halfway-fab waves-effect waves-light">
                        <i id="upload_widget" class="fas fa-pen profile-pic-edit" profile="profile"></i>
                    </a>
                    <div class="row" style="display: none;">
                        <input id="user_image" name="user_image" type="text" value="{{ user_image }}">
                        <label for="user_image"></label>
                    </div>
                    <!-- End of: Cloudinery winjet pop up -->
                </div>
                <div class="card-content">
                    <h4 id="edit-name" class="form-title line-br black-text" name="username" value="{{ username.capitalize() }}">
                        {{ username.capitalize() }}
                    </h4>
                    <!-- password -->
                    <div class="input-field row">
                        <input id="password" name="password" type="password" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="password">Change Password</label>
                    </div>
                    <!-- Confirm password -->
                    <div class="input-field row">
                        <input id="password_confirm" name="password_confirm" type="password" class="validate" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                        <label for="password_confirm">Confirm Password</label>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn forum-submit-btn">Save Changes</button>
                    </div>
                    <div class="row">
                        <a class="btn forum-submit-btn" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}