{% extends "base.html" %}
{% block content %}

    <div class="row add-recipe-form title-container">
        <div class="row title-container">
            <h4 class="section-title center">Edit Product</h4>
        </div>
        <form class="col s12" method="POST" action="{{ url_for('edit_product', product_id=product_select._id) }}">
            <!-- Big screen display -->
            <div class="row big-catalog">
                {% for product in product_list %}
                    {% if product.product_name == product_select.product_name %}
                        <div class="col s4 recipe-images">
                            <img src="{{ product_select.product_image }}" alt="">
                        </div>
                        <div class="input-field col s8">
                            <input id="product_name" name="product_name" type="text" class="validate" maxlength="50"
                            value="{{ product.product_name.capitalize()  }}" required>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End of: Big screen display -->

            <!-- Small screen display -->
            <div class="row small-catalog">
                {% for product in product_list %}
                    {% if product.product_name == product_select.product_name %}
                    <ul>
                        <li>
                            <div class="col s12 product-images">
                                <img src="{{ product_select.product_image }}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="input-field col s12">
                                <input id="product_name" name="product_name" type="text" class="validate" maxlength="50"
                                value="{{ product.product_name.capitalize()  }}" required>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End of: Small screen display -->

            <div class="row">
                <div id="description-list" class="col s12">
                    <h4 class="awarege-title add-title center">Ingredients</h4>
                    <ul id="edit_description">
                        {% for product in product_list %}
                            {% if product.product_name == product_select.product_name %}
                                {% set count = namespace(value=0) %}
                                {% for description in product.product_description %}
                                    <li class="edit-ing-input-field" id="edit-description-list-item-{{ count.value }}"
                                        number="{{ count.value }}">
                                        <div class="row">
                                            <div class="col s9">
                                                <input name="product_description" type="text" class="recipe_ing" value="{{- description -}}" required="">
                                            </div>
                                            <div class="col s3 edit-item-remuve remuve-btn"
                                                id="edit-description-list-item-remuve-{{ count.value }}" number="{{ count.value }}">
                                                <p class="remuve-btn-text center awarege-text big-catalog">Remuve</p>
                                                <p class="remuve-btn-text center awarege-text small-catalog">X</p>
                                            </div>
                                        </div>
                                    </li>
                                {% set count.value = count.value + 1 %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Big screen radio buttons -->
            <div class="row big-catalog">
                <div class="col s4">
                    <p>
                        <label>
                            {% if product_select.product_type == "utensils" %}
                                <input name="meal_type" type="radio" value="utensils" require checked/>
                                <span>Utensil</span>
                            {% else %}
                                <input name="meal_type" type="radio" value="utensils" require/>
                                <span>Utensil</span>
                            {% endif %}
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            {% if product_select.product_type == "potspans" %}
                                <input name="product_type" type="radio" value="potspans" checked/>
                                <span>Pots & Pands</span>
                            {% else %}
                                <input name="product_type" type="radio" value="potspans" />
                                <span>Pots & Pands</span>
                            {% endif %}
                        </label>
                    </p>
                </div>
            </div>
            <!-- End of: Big screen radio buttons -->

            <!-- Small screen radio buttons -->
            <div class="row meal-type-select center small-catalog">
                <h4 class="awarege-title add-title center">Product Type</h4>
                <ul>
                    <li class="left">
                        {% if product_select.product_type == "utensils" %}
                            <input name="product_type" type="radio" value="utensils" require checked />
                            <span>Utensils</span>
                        {% else %}
                            <input name="product_type" type="radio" value="utensils" require />
                            <span>Utensils</span>
                        {% endif %}
                    </li>
                    <li class="left">
                        {% if product_select.product_type == "potspans" %}
                            <input name="product_type" type="radio" value="potspans" checked />
                            <span>Pots & Pands</span>
                        {% else %}
                            <input name="product_type" type="radio" value="potspans" />
                            <span>Pots & Pands</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- End of: Small screen radio buttons -->

            <div class="row center">
                <div id="upload_widget" class="cloudinary-button" product="product">Change image</div>
            </div>
            <div class="row" style="display: none;">
                <input id="product_image" name="product_image" type="text">
                <label for="product_image"></label>
            </div>
            <div class="row center">
                <div class="col s6"><button type="submit" class="btn-large my-btn">Edit Product</button></div>
                <div class="col s6"><a href="{{ url_for('profile', username=session['user']) }}" class="btn-large my-btn">Cancel</a></div>
            </div>
        </form>
    </div>

{% endblock %}