{% extends "base.html" %}
{% block content %}


<!-- Carusel for feautered recepies -->
<div class="row title-container center">
    <h2 class="section-title">Try Out Something New</h2>
</div>
<div class="row">
    <div class="carousel">
        <div class="carousel carousel-slider carousle-container">
            {% for recipe in random_recipe %}
                <!-- Carusel recipes -->
                <a class="carousel-item center modal-trigger" href="#{{ recipe._id }}">
                    <h2 class="recipe-name-text">{{ recipe.recipe_name.capitalize() }}</h2>
                    <img class="carusel-img valign-wrapper" src="{{ recipe.recipe_image }}" alt="Image of {{ recipe.recipe_name }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modul pop up content for recipes -->
{% for recipe in random_recipe %}
<div class="row">
    <div id="{{ recipe._id }}" class="modal home-modal">
        <div class="modal-content">
            <h4 class="awarege-title center">{{ recipe.recipe_name.upper() }}</h4>
            <div class="row instructions-field">
                <p class="small-title center">Ingredients</p>
                <ul class="ingredient-list">
                    {% for ingredient in recipe.recipe_ingredients %}
                        <li class="awarege-text ingredient-item">
                            - {{ ingredient.capitalize() }}
                        </li>
                    {% endfor %}
                </ul>
                <p class="small-title center">Directions</p>
                <ol class="directions-list">
                    {% for direction in recipe.recipe_directions %}
                        <li class="awarege-text direction-item">
                            {{ direction.capitalize() }}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- End of carusel of recipes -->


<!-- Carusel for products on sale -->
<div class="row title-container center">
    <h2 class="section-title">Our New Products For Sale</h2>
</div>
<div class="row">
    <div class="carousel">
        <div class="carousel carousel-slider carousle-container">
            {% for product in products_onsale %}
                <!-- Carusel producs -->
                <a class="carousel-item center modal-trigger" href="#{{ product._id }}">
                    <h2 class="recipe-name-text">{{ product.product_name.capitalize() }}</h2>
                    <img class="carusel-img valign-wrapper" src="{{ product.product_image }}" alt="Image of {{ product.product_name }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modul pop up content for products -->
{% for product in products_onsale %}
<div class="row">
    <div id="{{ product._id }}" class="modal home-modal">
        <div class="modal-content">
            <h4 class="awarege-title center">{{ product.product_name.upper() }}</h4>
            <div class="row instructions-field">
                <p class="small-title center">Description</p>
                <ul class="ingredient-list">
                    {% for feauter in product.product_description %}
                        <li class="awarege-text ingredient-item">
                            - {{ feauter.capitalize() }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- End of product section -->

{% endblock %}