{% extends "base.html" %}
{% block content %}

    <!-- Code block from Materialized -->
        <form class="col s12 m6 offset-s3" method="POST" action="{{ url_for('login') }}">
            <div class="card form-container center">
                <div class="card-content">
                    <h3 class="form-title center">Log In</h3>
                    <!-- username -->
                    <div class="input-field row">
                        <input id="username" name="username" type="text" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- password -->
                    <div class="input-field row">
                        <input id="password" name="password" type="password" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                    <!-- login button -->
                    <div class="row">
                        <button type="submit" class="btn forum-submit-btn">LogIn</button>
                    </div>
                    <div class="card-action row">
                        <a class="col small-link black-text right" href="#">Forgot your password?</a>
                        <a class="col small-link black-text right" href="{{ url_for('register') }}">Don't have ann account? Register here</a>
                    </div>
                </div>
            </div>
        </form>

{% endblock %}