{% extends "base.html" %}
{% block content %}

    <!-- Code block from Materialized -->
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-title center-align">Log In</h3>
                    <!-- username -->
                    <div class="input-field row">
                        <input id="username" name="username" type="text" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- password -->
                    <div class="input-field row">
                        <input id="password" name="password" type="password" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                    <!-- login button -->
                    <div class="card-action row right-align">
                        <a class="black-text" href="#">Forgot your password?</a>
                        <a class="black-text" href="{{ url_for('register') }}">Don't have ann account? Register here</a>
                        <button type="submit" class="btn-large">Log In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}