{% extends "base.html" %}
{% block content %}


    <!-- Carusel for products on sale -->
    <!-- Materialized model code block -->
    <div class="row title-container center">
        <h2 class="section-title">Our New Products For Sale</h2>
    </div>
    <div class="row">
        <div class="carousel">
            <div class="carousel carousel-slider carousle-container">
                {% for product in products_onsale %}
                    <!-- Carusel producs -->
                    <a class="carousel-item center modal-trigger" href="#{{ product.product_name }}">
                        <h2 class="recipe-name-text">{{ product.product_name.capitalize() }}</h2>
                        <img class="carusel-img valign-wrapper" src="{{ product.product_image }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modul pop up content for products -->
    {% for product in products_onsale %}
        <div class="row">
            <div id="{{ product.product_name }}" class="modal home-modal">
                <div class="modal-content">
                    <h4 class="awarege-title center">{{ product.product_name.upper() }}</h4>
                    <div class="row instructions-field">
                        <p class="small-title center">Description</p>
                        <ul class="ingredient-list">
                            {% for feauter in product.product_description %}
                                <li class="awarege-text ingredient-item">
                                    - {{ feauter.capitalize() }}
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="small-title left">Price : {{ product.product_price }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- End of product section -->



    <!-- Title for product catalog -->
    <div class="row title-container center">
        <h2 class="section-title">Our Products Catalog</h2>
    </div>
    <!-- End of: Title for product catalog -->

    <!-- Container for products catalog -->
    <!-- Code block from Materialized -->
        <div id="product-catalog" class="row">
            <!-- Navigations for products catalog -->
            <div class="col s12">
                <ul class="tabs productas-catalog-navigation">
                    <li class="tab col s6"><a class="active black-text awarege-title center" href="#utensils">Utensils</a></li>
                    <li class="tab col s6"><a class="black-text awarege-title center" href="#potspans">Pots & Pans</a></li>
                </ul>
            </div>
            <!-- End of: Navigations for products catalog -->

            <!-- Poduct catalog utensils section -->
            <div id="utensils" class="row">
                {% for product in products %}
                    {% if product.product_type == "utensils" %}
                        <div class="col s12 l4">
                            <div class="card horizontal display-card">
                                <div class="card-image card-image-custom valign-wrapper">
                                    <img class="catalog-image"
                                        src="{{ product.product_image }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-action">
                                        <a class="modal-trigger black-text awarege-text display-name" href="#{{ product.product_name }}">
                                            {{ product.product_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="{{ product.product_name }}" class="modal">
                            <div class="modal-content">
                                <h4 class="awarege-title center">{{ product.product_name.upper() }}</h4>
                                <div class="row instructions-field">
                                    <p class="small-title center">Description</p>
                                    <ul class="ingredient-list">
                                        {% for feauter in product.product_description %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ feauter.capitalize() }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p class="small-title left">Price : {{ product.product_price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End of: Poduct catalog utensils section -->

            <!-- Poduct catalog pots and pans section -->
            <div id="potspans" class="col s12">
                {% for product in products %}
                    {% if product.product_type == "potspans" %}
                        <div class="col s12 l4">
                            <div class="card horizontal display-card">
                                <div class="card-image card-image-custom valign-wrapper">
                                    <img class="catalog-image"
                                        src="{{ product.product_image }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-action">
                                        <a class="modal-trigger black-text awarege-text display-name" href="#{{ product.product_name }}">
                                            {{ product.product_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="{{ product.product_name }}" class="modal">
                            <div class="modal-content">
                                <h4 class="awarege-title center">{{ product.product_name.upper() }}</h4>
                                <div class="row instructions-field">
                                    <p class="small-title center">Description</p>
                                    <ul class="ingredient-list">
                                        {% for feauter in product.product_description %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ feauter.capitalize() }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p class="small-title left">Price : {{ product.product_price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--End of: Poduct catalog pots and pans section -->

        </div>
        <!-- End of Code block from Materialized -->
    </div>

{% endblock %}