{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card profile-card">
        
                <!-- user information -->
                <div class="card-image profile-image-container">
                    {% if user_image == "" %}
                        <img id="user-img" class="profile-image"
                            src="https://res.cloudinary.com/silorak/image/upload/v1636472037/coock_book-img/blank-profile-picture-973460_960_720_cqroec.webp">
                    {% else %}
                        <img class="profile-image" src="{{ user_image }}">
                    {% endif %}
                    <a class="btn-floating right-alighn halfway-fab waves-effect waves-light"
                        href="{{ url_for('edit_profile', user_id=user_id)}}">
                        <i class="fas fa-pen profile-pic-edit"></i>
                    </a>
        
                    <!-- Veikianti miktukas nuotraukos kelimui -->
                    <!-- <a class="btn-floating right-alighn halfway-fab waves-effect waves-light">
                        <i id="upload_widget" class="fas fa-pen profile-pic-edit" profile="profile"></i>
                    </a>
                    <div class="row" style="display: none;">
                        <input id="user_image" name="user_image" type="text" value="">
                        <label for="user_image"></label>
                    </div> -->
                    <!--  -->
        
                </div>
                <div class="card-content">
                    <h4 class="form-title line-br black-text" name="username">
                        {{ username.capitalize() }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <!-- User recipes -->
    <div class="row">
        <!-- User recipes navigations -->
        <div class="col s12">
            <ul class="tabs productas-catalog-navigation">
                {% if session.user|lower == "admin" %}
                    <li class="tab col s6 m2 offset-m1"><a class="black-text awarege-title center" href="#user-recipes">Your Recipes</a></li>
                    <li class="tab active col s6 m2"><a class="black-text awarege-title center" href="#all-users">All Users</a></li>
                    <li class="tab col s6 m2"><a class="black-text awarege-title center" href="#all-user-recipes">All Recipes</a></li>
                    <li class="tab col s6 m2"><a class="black-text awarege-title center" href="#utensils">Utensils</a></li>
                    <li class="tab col s6 m2"><a class="black-text awarege-title center" href="#pots-pans">Pots & Pans</a></li>
                {% else %}
                    <li class="tab active col s6"><a class="black-text awarege-title center" href="#user-recipes">Your Recipes</a></li>
                    <li class="tab col s6"><a class="black-text awarege-title center" href="#">Recipes You Like</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
        <!-- End of: User recipes navigations -->
    

        <!-- User recipes list -->
        <div id="user-recipes" class="row">
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.author|lower %}
                    <div class="col s12 l4">
                        <div class="card horizontal display-card">
                            <div class="card-image valign-wrapper">
                                <img
                                    src="{{ recipe.recipe_image }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-action">
                                    <a class="modal-trigger black-text awarege-text display-name" href="#{{ recipe.recipe_name }}">
                                        {{ recipe.recipe_name.upper() }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{ recipe.recipe_name }}" class="modal">
                        <div class="modal-content">
                            <h4 class="awarege-title center">{{ recipe.recipe_name.upper() }}</h4>
                            <div class="row instructions-field">
                                <p class="small-title center">Ingredients</p>
                                <ul class="ingredient-list">
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="small-title center">Directions</p>
                                <ol class="directions-list">
                                    {% for direction in recipe.recipe_directions %}
                                        <li class="awarege-text direction-item">
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="row center">
                                <div class="col s6">
                                    <a class="btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a></div>
                                <div class="col s6">
                                    <a class="waves-effect waves-light btn modal-trigger" href="#{{ recipe._id }}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="{{ recipe._id }}" class="modal">
                        <div class="modal-content">
                          <h4>Modal Header</h4>
                          <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                          <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">
                            Delete</a>
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>        
        <!-- End of: User recipes list -->

        <!-- All recipes -->
        <div id="all-users" class="row">
            {% for user in all_users %}
                <div class="col s12 l4">
                    <div class="card horizontal display-card">
                        <div class="card-image valign-wrapper">
                            <img src="{{ user.user_image }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-action">
                                <a class="modal-trigger black-text awarege-text display-name" href="#{{ user.username }}">
                                    {{ user.username.upper() }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        
            <div id="{{ user.username }}" class="modal">
                <div class="modal-content">
                    <img class="profile-image" src="{{ user.user_image }}">
                    <h4 class="awarege-title center">{{ user.username.upper() }}</h4>
                    <div class="row center">
                        <div class="col s6">Block</div>
                        <div class="col s6">Cancel</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End of: All recipes -->

        <!-- All recipes -->
        <div id="all-user-recipes" class="row">
            {% for recipe in recipes %}
                    <div class="col s12 l4">
                        <div class="card horizontal display-card">
                            <div class="card-image valign-wrapper">
                                <img
                                    src="{{ recipe.recipe_image }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-action">
                                    <a class="modal-trigger black-text awarege-text display-name" href="#{{ recipe.recipe_name }}">
                                        {{ recipe.recipe_name.upper() }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{ recipe.recipe_name }}" class="modal">
                        <div class="modal-content">
                            <h4 class="awarege-title center">{{ recipe.recipe_name.upper() }}</h4>
                            <div class="row instructions-field">
                                <p class="small-title center">Ingredients</p>
                                <ul class="ingredient-list">
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="small-title center">Directions</p>
                                <ol class="directions-list">
                                    {% for direction in recipe.recipe_directions %}
                                        <li class="awarege-text direction-item">
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="row center">
                                <div class="col s6 offset-m3">Delete</div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>        
        <!-- End of: All recipes -->

        <!-- Utensils catalog list -->
        <div id="utensils" class="row">
            {% for product in products %}
                {% if product.product_type == "utensils" %}
                    <div class="col s12 l4">
                        <div class="card horizontal display-card">
                            <div class="card-image valign-wrapper">
                                <img
                                    src="{{ product.product_image }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-action">
                                    <a class="modal-trigger black-text awarege-text display-name" href="#{{ product.product_name }}">
                                        {{ product.product_name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{ product.product_name }}" class="modal">
                        <div class="modal-content">
                            <h4 class="awarege-title center">{{ product.product_name.upper() }}</h4>
                            <div class="row instructions-field">
                                <p class="small-title center">Description</p>
                                <ul class="ingredient-list">
                                    {% for description in product.product_description %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ description.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- End of: Utensils catalog list -->

        <!-- Pots and Pans catalog list -->
        <div id="pots-pans" class="row">
            {% for product in products %}
                {% if product.product_type == "potspans" %}
                    <div class="col s12 l4">
                        <div class="card horizontal display-card">
                            <div class="card-image valign-wrapper">
                                <img
                                    src="{{ product.product_image }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-action">
                                    <a class="modal-trigger black-text awarege-text display-name" href="#{{ product.product_name }}">
                                        {{ product.product_name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{ product.product_name }}" class="modal">
                        <div class="modal-content">
                            <h4 class="awarege-title center">{{ product.product_name.upper() }}</h4>
                            <div class="row instructions-field">
                                <p class="small-title center">Description</p>
                                <ul class="ingredient-list">
                                    {% for description in product.product_description %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ description.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- End of: Pots and Pans catalog list -->
        
    
    <!-- add recepy -->
    {% if session.user|lower == "admin" %}
        <div class="row">
            <div class="col s6 add-recipe-btn-container center">
                <a href="{{ url_for('add_recipe') }}" class="btn add-btn awarege-text">
                    Add Recipe
                </a>
            </div>
            <div class="col s6 add-recipe-btn-container center">
                <a href="{{ url_for('add_product') }}" class="btn add-btn awarege-text">
                    Add Product
                </a>
            </div>
        </div>
    {% else %}
        <div class="row add-recipe-btn-container center">
            <a href="{{ url_for('add_recipe') }}" class="btn add-recipe-btn awarege-text">
                Add Recipe
            </a>
        </div>
    {% endif %}

{% endblock %}