{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
    
                    <!-- user information -->
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title black-text">
                            {{ username }}
                        </h4>
                        <div class="row">
                            <div class="col s4">Username</div>
                            <div class="col s8">{{ username }}</div>
                        </div>
                        <div class="row">
                            <div class="col s4">User email</div>
                            <div class="col s6">{{ email }}</div>
                            <div class="col s2"><button class="btn-small">Edit</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- user recipes -->
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab active col s6"><a href="#test1">Your Recipes</a></li>
                    <li class="tab col s6"><a href="#test2">Recipes You Like</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <ul class="collapsible">
                    {% for recipe in recipes %}
                        <li>
                            <div class="collapsible-header">
                                <h5>{{ recipe.recipe_name.upper() }}</h5>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s2 offset-m8"><button class="btn-small">Edit</button></div>
                                    <div class="col s2 "><button class="btn-small">Delete</button></div>
                                </div>
                                <ul>
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li>
                                            {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </Ul>
                                <ol>
                                    {% for direction in recipe.recipe_directions %}
                                        <li>
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="test2" class="col s12">
                <ul class="collapsible">
                    {% for recipe in recipes %}
                        <li>
                            <div class="collapsible-header">
                                <h5>{{ recipe.recipe_name.upper() }}</h5>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s2 offset-m8"><button class="btn-small">Edit</button></div>
                                    <div class="col s2 "><button class="btn-small">Delete</button></div>
                                </div>
                                <ul>
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li>
                                            {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </Ul>
                                <ol>
                                    {% for direction in recipe.recipe_directions %}
                                        <li>
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- end of user recipes -->

        <!-- add recepy -->
        <div class="row">
            <a href="{{ url_for('add_recipe') }}">
                <button class="btn-large">Add recipe</button>
            </a>
        </div>
    </div>

{% endblock %}