{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card profile-card">
        
                <!-- user information -->
                <div class="card-image profile-image-container">
                    {% if user_image == "" %}
                        <img id="user-img" class="profile-image"
                            src="https://res.cloudinary.com/silorak/image/upload/v1636472037/coock_book-img/blank-profile-picture-973460_960_720_cqroec.webp">
                    {% else %}
                        <img class="profile-image" src="{{ user_image }}">
                    {% endif %}
                    <a class="btn-floating right-alighn halfway-fab waves-effect waves-light"
                        href="{{ url_for('edit_profile', user_id=user_id)}}">
                        <i class="fas fa-pen profile-pic-edit"></i>
                    </a>
        
                    <!-- Veikianti miktukas nuotraukos kelimui -->
                    <!-- <a class="btn-floating right-alighn halfway-fab waves-effect waves-light">
                        <i id="upload_widget" class="fas fa-pen profile-pic-edit" profile="profile"></i>
                    </a>
                    <div class="row" style="display: none;">
                        <input id="user_image" name="user_image" type="text" value="">
                        <label for="user_image"></label>
                    </div> -->
                    <!--  -->
        
                </div>
                <div class="card-content">
                    <h4 class="form-title line-br black-text" name="username">
                        {{ username.capitalize() }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <!-- User recipes -->
    <div class="row">
        <!-- User recipes navigations -->
        <div class="col s12">
            <ul class="tabs productas-catalog-navigation">
                <li class="tab active col s6"><a class="black-text awarege-title center" href="#user-recipes">Your Recipes</a></li>
                <li class="tab col s6"><a class="black-text awarege-title center" href="#user-like-recipes">Recipes You Like</a></li>
            </ul>
        </div>
    </div>
        <!-- End of: User recipes navigations -->

        <!-- User recipes list -->
        <div id="user-recipes" class="row">
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.author|lower %}
                    <div class="col s12 l4">
                        <div class="card horizontal display-card">
                            <div class="card-image valign-wrapper">
                                <img
                                    src="{{ recipe.recipe_image }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-action">
                                    <a class="modal-trigger black-text awarege-text display-name" href="#{{ recipe.recipe_name }}">
                                        {{ recipe.recipe_name.upper() }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="{{ recipe.recipe_name }}" class="modal">
                        <div class="modal-content">
                            <h4 class="awarege-title center">{{ recipe.recipe_name.upper() }}</h4>
                            <div class="row instructions-field">
                                <p class="small-title center">Ingredients</p>
                                <ul class="ingredient-list">
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li class="awarege-text ingredient-item">
                                            - {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="small-title center">Directions</p>
                                <ol class="directions-list">
                                    {% for direction in recipe.recipe_directions %}
                                        <li class="awarege-text direction-item">
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>        
        <!-- End of: User recipes list -->

    
        <div id="user-like-recipes" class="col s12">
            <ul class="collapsible">
                {% for recipe in recipes %}
                <li>
                    <div class="collapsible-header">
                        <h5>{{ recipe.recipe_name.upper() }}</h5>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s2 offset-m8"><button class="btn-small">Edit</button></div>
                            <div class="col s2 "><button class="btn-small">Delete</button></div>
                        </div>
                        <ul class="user-recipe">
                            {% for ingredient in recipe.recipe_ingredients %}
                            <li>
                                {{ ingredient.capitalize() }}
                            </li>
                            {% endfor %}
                        </Ul class="user-recipe">
                        <ol>
                            {% for direction in recipe.recipe_directions %}
                            <li>
                                {{ direction.capitalize() }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    <!-- end of user recipes -->
    
    <!-- add recepy -->
    <div class="row add-recipe-btn-container center">
        <a href="{{ url_for('add_recipe') }}" class="btn add-recipe-btn awarege-text">
            Add Recipe
        </a>
    </div>

{% endblock %}