{% extends "base.html" %}
{% block content %}

    <!-- Materialized model code block -->
    <div class="container">
        <div class="row">
            {% for recipe in random_recipe %}
                <!-- Modal Trigger -->
                <div class="row">
                    <div class="col s5">
                        <img src="{{ recipe.recipe_image }}" alt="">
                    </div>
                    <div class="col s7">
                        <a class="waves-effect waves-light modal-trigger" href="#modal1">
                            <h4>
                                {{ recipe.recipe_name.upper() }}
                            </h4>
                        </a>
                    </div>
                </div>
                

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>
                            {{ recipe.recipe_name.upper() }}
                        </h4>
                        <div class="row">
                            <div class="col s4">
                                <Ul>
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li>
                                            {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </Ul>
                            </div>
                            <div class="col s8">
                                <ol>
                                    {% for direction in recipe.recipe_directions %}
                                        <li>
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            {% endfor %}
            <!-- End of Materialized model code block -->
        </div>
    </div>
    
    <div class="container">
        <!-- Code block from Materialized -->
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4"><a class="active" href="#test1">Breakfast Recipes</a></li>
                    <li class="tab col s4"><a href="#test2">Lunch Recipes</a></li>
                    <li class="tab col s4"><a href="#test3">Dinner Recipes</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <ul class="collapsible">
                    {% for recipe in recipes %}
                        {% if recipe.meal_tipe|lower == "breakfast" %}
                            <li>
                                <div class="collapsible-header">{{ recipe.recipe_name.upper() }}</div>
                                <div class="collapsible-body">
                                    <Ul>
                                        {% for ingredient in recipe.recipe_ingredients %}
                                            <li>
                                                {{ ingredient.capitalize() }}
                                            </li>
                                        {% endfor %}
                                    </Ul>
                                    <ol>
                                        {% for direction in recipe.recipe_directions %}
                                            <li>
                                                {{ direction.capitalize() }}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="test2" class="col s12">
                <ul class="collapsible">
                    {% for recipe in recipes %}
                        {% if recipe.meal_tipe|lower == "lunch" %}
                            <li>
                                <div class="collapsible-header">{{ recipe.recipe_name.upper() }}</div>
                                <div class="collapsible-body">
                                    <Ul>
                                        {% for ingredient in recipe.recipe_ingredients %}
                                            <li>
                                                {{ ingredient.capitalize() }}
                                            </li>
                                        {% endfor %}
                                    </Ul>
                                    <ol>
                                        {% for direction in recipe.recipe_directions %}
                                            <li>
                                                {{ direction.capitalize() }}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="test3" class="col s12">
                <ul class="collapsible">
                    {% for recipe in recipes %}
                        {% if recipe.meal_tipe|lower == "dinner" %}
                        <li>
                            <div class="collapsible-header">{{ recipe.recipe_name.upper() }}</div>
                            <div class="collapsible-body">
                                <Ul>
                                    {% for ingredient in recipe.recipe_ingredients %}
                                        <li>
                                            {{ ingredient.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </Ul>
                                <ol>
                                    {% for direction in recipe.recipe_directions %}
                                        <li>
                                            {{ direction.capitalize() }}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- End of Code block from Materialized -->
    </div>


{% endblock %}