{% extends "base.html" %}
{% block content %}

    <!-- Code block from Materialized -->
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card form-container center">
                <div class="card-content">
                    <h3 class="form-title center-align">Register</h3>
                    <!-- username -->
                    <div class="input-field row">
                        <input id="username" name="username" type="text" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- password -->
                    <div class="input-field row">
                        <input id="password" name="password" type="password" class="validate" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                    <!-- Confirm password -->
                    <div class="input-field row">
                        <input id="password_confirm" name="password_confirm" type="password" class="validate" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password_confirm">Confirm Password</label>
                    </div>
                    <!-- register button -->
                    <div class="row">
                        <button type="submit" class="btn forum-submit-btn">Register</button>
                    </div>
                    <div class="card-action row right-align">
                        <a class="small-link black-text" href="{{ url_for('login') }}">Already a user? Log In</a>
                    </div>
                </div>
            </div>
        </form>

{% endblock %}