{% extends "base.html" %}
{% block content %}

    <!-- Code block from Materialized -->
    <div class="row">
        <form class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <h3 class="card-title center-align">Register</h3>
                    <div class="input-field row">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field row">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Pasword</label>
                    </div>
                    <div class="input-field row">
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="card-action right-align">
                        <a class="black-text" href="#">Already a user: Log In</a>
                        <button type="submit" class="btn-large">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}